{% extends 'base.html' %}
{% block title %} Faça seu login {% endblock %}

{% block content %}
<div class="h-1/2 w-5/6 lg:w-1/2 bg-[#ceb5a7] flex flex-col rounded-3xl items-center gap-y-4">
    <h1 class="text-3xl font-bold mt-8 mb-8">Faça seu login</h1>
    <div class="mt-12 flex items-center justify-center w-full">
        <form method="post" class="w-full flex flex-col items-center justify-center text-center">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Login" class="rounded-full bg-[#5b7b7a] text-white text-lg w-1/4 mt-4 p-2 lg:p-1 text-center">
            <span class="w-1/4"></span>
        </form>
    </div>
</div>
{% endblock %}